apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: auth-service
    app.kubernetes.io/name: auth-service
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: microservice-app
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP