apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: crash-course
spec:
  replicas: 1
  selector:
    matchLabels: { app: frontend }
  template:
    metadata:
      labels: { app: frontend }
    spec:
      imagePullSecrets:
        - name: dockerhub-cred
      containers:
      - name: frontend
        image: badex/frontend:newest
        imagePullPolicy: Always
        ports: [{ containerPort: 80 }]
