apiVersion: v1
kind: Service
metadata:
  name: game-service
  labels:
    app: game-service
    app.kubernetes.io/name: game-service
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: microservice-app
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  type: ClusterIP
  selector:
    app: game-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
